<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.dao.RoomMapper">
  <resultMap id="BaseResultMap" type="com.hotel.entity.Room">
    <id column="roomnum" jdbcType="CHAR" property="roomnum" />
    <result column="roomdescprit" jdbcType="CHAR" property="roomdescprit" />
    <result column="roomtype" jdbcType="CHAR" property="roomtype" />
    <result column="roomprice" jdbcType="INTEGER" property="roomprice" />
    <result column="day0" jdbcType="INTEGER" property="day0" />
    <result column="day1" jdbcType="INTEGER" property="day1" />
    <result column="day2" jdbcType="INTEGER" property="day2" />
    <result column="day3" jdbcType="INTEGER" property="day3" />
    <result column="day4" jdbcType="INTEGER" property="day4" />
  </resultMap>
  <sql id="Base_Column_List">
    roomnum, roomdescprit, roomtype, roomprice, day0, day1, day2, day3, day4
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hs_roomnum
    where roomnum = #{roomnum,jdbcType=CHAR}
  </select>
  
  <select id="selectRoomsByNeedDate" parameterType="java.util.Map" resultType="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from hs_roomnum
    where roomnum = #{roomnum,jdbcType=CHAR}
    
     select id,name,age from student 
     where name like '%' #{StuName} '%'
     and age > #{StuAge}
  </select>
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from hs_roomnum
    where roomnum = #{roomnum,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.hotel.entity.Room">
    insert into hs_roomnum (roomnum, roomdescprit, roomtype, 
      roomprice, day0, day1, 
      day2, day3, day4)
    values (#{roomnum,jdbcType=CHAR}, #{roomdescprit,jdbcType=CHAR}, #{roomtype,jdbcType=CHAR}, 
      #{roomprice,jdbcType=INTEGER}, #{day0,jdbcType=INTEGER}, #{day1,jdbcType=INTEGER}, 
      #{day2,jdbcType=INTEGER}, #{day3,jdbcType=INTEGER}, #{day4,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hotel.entity.Room">
    insert into hs_roomnum
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomnum != null">
        roomnum,
      </if>
      <if test="roomdescprit != null">
        roomdescprit,
      </if>
      <if test="roomtype != null">
        roomtype,
      </if>
      <if test="roomprice != null">
        roomprice,
      </if>
      <if test="day0 != null">
        day0,
      </if>
      <if test="day1 != null">
        day1,
      </if>
      <if test="day2 != null">
        day2,
      </if>
      <if test="day3 != null">
        day3,
      </if>
      <if test="day4 != null">
        day4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomnum != null">
        #{roomnum,jdbcType=CHAR},
      </if>
      <if test="roomdescprit != null">
        #{roomdescprit,jdbcType=CHAR},
      </if>
      <if test="roomtype != null">
        #{roomtype,jdbcType=CHAR},
      </if>
      <if test="roomprice != null">
        #{roomprice,jdbcType=INTEGER},
      </if>
      <if test="day0 != null">
        #{day0,jdbcType=INTEGER},
      </if>
      <if test="day1 != null">
        #{day1,jdbcType=INTEGER},
      </if>
      <if test="day2 != null">
        #{day2,jdbcType=INTEGER},
      </if>
      <if test="day3 != null">
        #{day3,jdbcType=INTEGER},
      </if>
      <if test="day4 != null">
        #{day4,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hotel.entity.Room">
    update hs_roomnum
    <set>
      <if test="roomdescprit != null">
        roomdescprit = #{roomdescprit,jdbcType=CHAR},
      </if>
      <if test="roomtype != null">
        roomtype = #{roomtype,jdbcType=CHAR},
      </if>
      <if test="roomprice != null">
        roomprice = #{roomprice,jdbcType=INTEGER},
      </if>
      <if test="day0 != null">
        day0 = #{day0,jdbcType=INTEGER},
      </if>
      <if test="day1 != null">
        day1 = #{day1,jdbcType=INTEGER},
      </if>
      <if test="day2 != null">
        day2 = #{day2,jdbcType=INTEGER},
      </if>
      <if test="day3 != null">
        day3 = #{day3,jdbcType=INTEGER},
      </if>
      <if test="day4 != null">
        day4 = #{day4,jdbcType=INTEGER},
      </if>
    </set>
    where roomnum = #{roomnum,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hotel.entity.Room">
    update hs_roomnum
    set roomdescprit = #{roomdescprit,jdbcType=CHAR},
      roomtype = #{roomtype,jdbcType=CHAR},
      roomprice = #{roomprice,jdbcType=INTEGER},
      day0 = #{day0,jdbcType=INTEGER},
      day1 = #{day1,jdbcType=INTEGER},
      day2 = #{day2,jdbcType=INTEGER},
      day3 = #{day3,jdbcType=INTEGER},
      day4 = #{day4,jdbcType=INTEGER}
    where roomnum = #{roomnum,jdbcType=CHAR}
  </update>
</mapper>